<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>抽奖</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">
    <link href="__PUBLIC__/css/swiper.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/iconfont.css" rel="stylesheet">
    <link href="__PUBLIC__/css/basic.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
<div class="click_share" style="display: none">
    <img src="__PUBLIC__/images/click_share.png" class="img-responsive center-block">
</div>
<div class="player_minute">
    <div class="player_info row">
        <div class="col-xs-4 img">
            <img src="__PUBLIC__/images/l_1.jpg" class="img-responsive center-block img-rounded" style="max-width: 90%">
        </div>
        <div class="col-xs-8 text">
            <h3>陈天华</h3>
            <p>参赛宣言：我自信，我出色；我拼搏，我成功！ 给失败装上一双翅膀，就能飞到成功的天堂。
            </p>
                <span class="num">
    001号
</span>
        </div>
    </div>
    <div class="player_img">
        <p><img src="__PUBLIC__/images/pl_1.jpg" class="img-responsive center-block"></p>
        <p><img src="__PUBLIC__/images/pl_1.jpg" class="img-responsive center-block"></p>
    </div>
    <div class="Ta">
        <div class="Ta_t">
            <button class="btn"><i class="i_1"></i> 投TA一票</button>
        </div>
        <div class="Ta_b">
            <button class="btn"><i class="i_2"></i>帮TA投票</button>
        </div>
    </div>
</div>
<div class="footer text-center">
    <div class="row">
        <div class="col-xs-3 list-item">
            <a href="{:U('Index/index?id='.$act[id])}" class="color">
                    <span class="iconfont icon-home ">
         </span>
                <p>首页</p>
            </a>
        </div>
        <div class="col-xs-3  list-item">
            <a href="{:U('Index/apply?id='.$act[id])}">
                    <span class="iconfont icon-apply">
      
         </span>
                <p>我要报名</p>
            </a>
        </div>
        <div class="col-xs-3  list-item">
            <a href="{:U('Index/line?id='.$act[id])}">
                    <span class="iconfont icon-line">
      
         </span>
                <p>牌行榜</p>
            </a>
        </div>
        <div class="col-xs-3  list-item">
            <a href="{:U('Index/explain?id='.$act[id])}">
                    <span class="iconfont icon-explain">
      
         </span>
                <p>活动说明</p>
            </a>
        </div>
    </div>
</div>
</body>
<script src="__PUBLIC__/js/libs/jquery.min.js"></script>
<script src="__PUBLIC__/js/libs/swiper.min.js"></script>
<!--<script src="__PUBLIC__/js/libs/bootstrap.min.js"></script>-->
<script src="__PUBLIC__/js/libs/basic.js"></script>
</html>
